<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
* @package    Optimiseweb_MobileDetect
* @author     Kathir Vel (vkathirvel@gmail.com)
* @copyright  Copyright (c) 2015 Kathir Vel
* @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
*/
-->
<config>

    <modules>
        <Optimiseweb_MobileDetect>
            <version>0.2.2</version>
        </Optimiseweb_MobileDetect>
    </modules>
    
    <frontend>
        
        <translate>
            <modules>
                <Optimiseweb_MobileDetect>
                    <files>
                        <default>Optimiseweb_MobileDetect.csv</default>
                    </files>
                </Optimiseweb_MobileDetect>
            </modules>
        </translate>

    </frontend>
    
    <adminhtml>
        
        <translate>
            <modules>
                <Optimiseweb_MobileDetect>
                    <files>
                        <default>Optimiseweb_MobileDetect.csv</default>
                    </files>
                </Optimiseweb_MobileDetect>
            </modules>
        </translate>

    </adminhtml>
    
    <global>

        <helpers>
            <mobiledetect>
                <class>Optimiseweb_MobileDetect_Helper</class>
            </mobiledetect>
        </helpers>

    </global>

</config>